<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1><span style="font-weight: 200">About</span><span style="font-weight: 800">Us</span></h1>
            <hr/>
        </div>
    </div>
    <div class="row buffer"></div>
    <div class="row">
        <article class="col-lg-12 about">
            <p>UniQ is a questions Database sharing</p>

            <p>Create your own questions groups:</p>
            <ul class="list-inline">
                <li>Classes</li>
                <li>Workgroups</li>
                <li>Friends</li>
                <li>Family</li>
            </ul>
            <br/>
            <p>Open a new account and start help other students like yourself</p>
            <br/>
            <hr/>
            <p>Created by: Shy Alter</p>
        </article>
    </div>
</div>