<div layout="column" layout-align="start center" flex>
    <span class="md-title md-title-big">
        <span style="font-weight: 100">Groups</span>
    </span>
    <div class='md-padding' layout-fill>
        <md-card layout="row" class="md-whiteframe-6dp" flex="80" flex-offset="10">
            <md-list flex>
                <md-list-item ng-show="vm.emptyGroups" class="md-1-line">
                    No Groups
                </md-list-item>
                <div ng-repeat="(groupId, groupTitle) in currentUser.groups">
                    <md-list-item class="md-1-line" ng-click="gotoGroup(groupId)">
                        <md-button aria-label="view">
                            <md-tooltip md-direction="left">
                                View
                            </md-tooltip>
                            <md-icon class="material-icons">pageview</md-icon>
                        </md-button>
                        <p flex-offset="5">{{groupTitle}}</p>
                        <md-button aria-label="view" ng-click="deleteGroup(groupId)">
                            <md-tooltip md-direction="left">
                                Delete
                            </md-tooltip>
                            <md-icon class="material-icons">clear</md-icon>
                        </md-button>
                    </md-list-item>
                    <md-divider ng-if="!$last"></md-divider>
                </div>
            </md-list>
        </md-card>
    </div>
</div>