<div layout="column" layout-align="start center" flex>
    <span class="md-title md-title-big">
        <span style="font-weight: 100">{{currentGroup.title || "No Group"}}</span>
    </span>
    <div class='md-padding' layout-fill ng-cloak>
        <md-card layout="column" class="md-whiteframe-6dp" flex="80" flex-offset="10">
            <md-toolbar>
                <md-progress-linear style="position: absolute;" ng-show="vm.questions_loading" class="md-warn md-hue-2" md-mode="query"
                                    md-diameter="20"></md-progress-linear>
                <div class="md-toolbar-tools">
                    Questions:
                </div>
            </md-toolbar>
            <md-list flex>
                <md-list-item ng-show="vm.emptyQuestions" class="md-1-line">
                    No Questions
                </md-list-item>
                <div ng-repeat="question in currentGroup.questions" ng-cloak>
                    <md-list-item class="md-1-line" ng-click=gotoQuestion(question)>
                        <md-icon class="material-icons">
                            <md-tooltip md-direction="left">
                                Rate
                            </md-tooltip>
                            swap_vert
                        </md-icon>
                        <span style="text-align: right;">{{question.rate}}</span>
                        <span flex-offset="10"></span>
                        <p flex-offset="5">{{question.title}}</p>
                        <md-button aria-label="view" ng-click="deleteQuestion(question.id)">
                            <md-tooltip md-direction="left">
                                Delete
                            </md-tooltip>
                            <md-icon class="material-icons">delete</md-icon>
                        </md-button>
                    </md-list-item>
                    <md-divider ng-if="!$last"></md-divider>
                </div>
            </md-list>
        </md-card>
    </div>
</div>