<div layout="row" layout-sm="column" layout-align="center center" flex>
    <div style="font-size: 90px">UNI<span style="color: #ff7703">Q</span></div>
    <div flex="40" class="md-title">SHARE QUESTIONS WITH YOUR FRIENDS</div>

    <div layout="column">
        <md-button ng-click=shell.showDialog($event,"newUser") class="md-raised md-warn" aria-label="signup">
                SignUp
        </md-button>
        <md-button ng-click=shell.showDialog($event,"login") class="md-primary md-raised" aria-label="login">
                login
        </md-button>
    </div>
</div>