<div layout="column" layout-align="start center" flex>
    <md-toolbar class="animate-show  md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <span flex></span>
            <span class="md-title md-title-big">
                <span style="font-weight: 100">{{currentGroup.title || "No Group"}}</span>
            </span>
            <span flex></span>
        </div>
    </md-toolbar>
    <div class='md-padding' layout="column" flex ng-cloak>
        <md-card layout="row" style="width: 800px" class="md-whiteframe-6dp">
            <md-list flex>
                <div ng-repeat="question in currentGroup.questions" ng-cloak>
                    <md-list-item class="md-1-line">
                        <span style="text-align: right;" flex="10">{{question.rate}}</span>
                        <md-icon class="material-icons">
                            <md-tooltip md-direction="left">
                                Rate
                            </md-tooltip>
                            swap_vert
                        </md-icon>
                        <p flex-offset="5">{{question.title}}</p>
                        <md-button aria-label="view" ng-click="viewQ($event)">
                            <md-tooltip md-direction="left">
                                View
                            </md-tooltip>
                            <md-icon class="material-icons">input</md-icon>
                        </md-button>
                    </md-list-item>
                    <md-divider ng-if="!$last"></md-divider>
                </div>
            </md-list>
        </md-card>
    </div>
</div>