<div class="container">
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="row">
            <h1><span style="font-weight: 200">my</span><span style="font-weight: 800">Groups</span></h1>
            <ul class="list-unstyled" style="font-weight: 100; font-size: 160%">
                <li class="" ng-repeat="(key, value) in currentUser.groups">
                    <span>{{value}}</span>
                    <span>|</span>
                    <span><a class="my-groups" ng-click="showGroupInfo(key)">Details</a></span>
                    <span>|</span>
                    <span><a class="my-groups" ng-href="/groupinfo/{{key}}">Enter</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="row text-center">
            <h1><span style="font-weight: 200">users</span><span style="font-weight: 800">Search</span></h1>
        </div>
        <div class="row text-center">
            <div class="input-group">
                <input ng-model="vm.userQuery" type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button ng-click="searchUsers(vm.userQuery)" class="btn btn-default" type="button">Go!</button>
                      </span>
            </div><!-- /input-group -->
        </div>
        <div class="row">
            <ul class="list-unstyled" style="font-weight: 100; font-size: 160%">
                <li ng-repeat="user in searchUsersResult" ng-click="showUserInfo(user)">{{user.username}}</li>
            </ul>
        </div>
    </div>
</div>